<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio do Pereira</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="#aboutUs">SOBRE MIM</a>
            <a href="#projects">PROJETOS</a>
            <a href="#contacts">CONTATOS</a>
        </nav>
    </header>
    <main>
        <aside>
            <div id="fotoDoPereira">
                <img src="/images/Gabriel.jpg" alt="Foto do Pereira" class="recorte">
            </div>

            <div class="descerLinha">
                <h3>Gabriel Pereira</h3>
                <p>Desenvolvedor em Aprendizado</p>
            </div>

            <div class="linha"></div>
        </aside>
        <section>
            <div id="section-header">
                <h1>Portfólio do Pereira</h1>
            </div>

            <div id="sobreMim">
                <div>
                    <h3>Sobre Pereira</h3>
                </div>

                <div>
                    <h3>Linguagens e Ferramentas</h3>
                </div>
            </div>

            <div id="apresentacao">
                <div class="centralizarH2 descerH2">
                    <h2>Apresentação</h2>
                </div>
                <div class="linha"></div>
                <div class="subirLinha comprimirConteudoDentro">
                    <p>Meu nome é Gabriel Pereira. Sempre gostei de técnologia e estou iniciando minha jornada como
                        desenvolvedor. Gosto de criar interfaces bonitas, funcionais e que proporcionem uma boa
                        experiência
                        para o usuário.</p>
                    <p>Sou apaixonado por jogos, música e estou sempre em busca de aprender algo novo. No momento, estou
                        focado em praticar meus conhecimentos com projetos simples, como este portfólio que você está
                        visitando.</p>
                    <p>Se quiser trocar uma ideia ou conhecer mais sobre meus projetos, sinta-se à vontade para entrar
                        em
                        contato!</p>
                </div>
            </div>

            <div>
                <div class="centralizarH2 descerH2">
                    <h2>Linguagens</h2>
                </div>
                <div class="linha"></div>
                <div class="subirLinha comprimirConteudoDentro espacarIcon">
                    <img align="center" alt="Pereira-HTML" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                    <img align="center" alt="Pereira-CSS" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                    <img align="center" alt="Pereira-Js" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                    <img align="center" alt="Pereira-Python" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
                </div>

                <div class="centralizarH2 descerH2">
                    <h2>Frameworks</h2>
                </div>
                <div class="linha"></div>
                <div class="subirLinha comprimirConteudoDentro espacarIcon">
                    <img align="center" alt="Pereira-React" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
                    <img align="center" alt="Pereira-Node" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
                    <img align="center" alt="Pereira-Bootstrap" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" />
                    <img align="center" alt="Pereira-Flask" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
                        style="filter: invert(1);" />
                </div>

                <div class="centralizarH2 descerH2">
                    <h2>Ferramentas</h2>
                </div>
                <div class="linha"></div>
                <div class="subirLinha comprimirConteudoDentro espacarIcon">
                    <img align="center" alt="Pereira-VSCode" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" />
                    <img align="center" alt="Pereira-Git" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
                    <img align="center" alt="Pereira-GitHub" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                        style="filter: invert(1);" />
                    <img align="center" alt="Pereira-Figma" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" />
                    <img align="center" alt="Pereira-MySQL" width="80" height="60"
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>

    <script src="/static/script.js"></script>
</body>

</html>