<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfólio do Pereira</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
        <nav>
            <a href="#aboutMe">SOBRE MIM</a>
            <a href="#projects">PROJETOS</a>
            <a href="#contacts">CONTATOS</a>
        </nav>
    </header>
    <main>
        <div id="div-h1">
            <h1>Portfólio do Pereira</h1>
        </div>
        <aside>
            <div>
                <h2 class="font-size-medio">Gabriel Pereira</h2>
                <p class="devLearning">Desenvolvedor em Aprendizado</p>
            </div>
        </aside>
        <section></section>
    </main>
    <footer>

    </footer>
    <script src="../static/script.js"></script>
  </body>
</html>
