* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E0D0D;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 500;
}

h2 {
    font-weight: 600;
}

.recorte {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 100%;
    border: 4px solid #8B32F4;
}

header {
    background-color: #5320A6;
    width: 100%;
    height: 200px;
}

nav>a {
    color: #F3F3F3;
    text-decoration: none;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #5320A6;
    width: 100%;
    height: 200px;
}

aside {
    align-items: center;
    text-align: center;
    height: 100%;
    width: 550px;
}