* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #0E0D0D;
    font-family: 'Poppins', sans-serif;
    color: #F3F3F3;
}

h1 {
    font-weight: 600;
    font-size: 80px;
}

p {
    font-weight: 500;
    font-size: 26px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

.centralizarH2 {
    text-align: center;
}

h3 {
    font-weight: 600;
    font-size: 26px;
}

.recorte {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 100%;
    border: 4px solid #8B32F4;
}

header {
    background-color: #5320A6;
    width: 100%;
    height: 150px;
    border-top: 10px solid #8B32F4;
    text-align: right;
}


nav {
    margin: 50px;
    padding-right: 200px;
}

nav>a {
    color: #F3F3F3;
    text-decoration: none;
    font-weight: 600;
}

a {
    color: #F3F3F3;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 12px;
}

#portfolioDoPereira {
    text-align: center;
    padding: 200px 0 800px 0;
}

main {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #5320A6;
    width: 100%;
    height: 150px;
}

aside {
    padding-left: 100px;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 550px;
}

#fotoDoPereira {
    padding-bottom: 40px;
}

#sobreMim {
    display: flex;
    justify-content: space-between;
}

#sobreMim>div>h3 {
    padding: 0;
}

section {
    padding: 180px 150px 0 150px;
}

main>aside>div>p {
    font-size: 16px;
}

.descerH2>h2 {
    text-align: center;
    padding: 100px 0 40px 0;
}

.subirLinha {
    padding: 100px 0 50px 0;
}

.descerLinha {
    padding-bottom: 25px;
}

.linha {
    border: 4px solid #8B32F4;
    width: auto;
    margin: auto;
}

.comprimirConteudoDentro {
    margin: auto;
    width: 90%;
}

#apresentacao>.subirLinha {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
}

.crescer {
    text-align: center;
    transition: transform 0.1s ease-in-out;
    padding: 0;
}

.crescer>h3 {
    padding-top: 20px;
    font-size: 20px;
}

.espacarIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.crescer:hover {
    transform: scale(1.3);
    color: white;
}

.crescer>img {
    height: 50px;
}

.pointerBtn {
    cursor: pointer;
}

.crescerMenos:hover {
    transform: scale(1.2);
    color: white;
}

.crescerMenos {
    transition: transform 0.1s ease-in-out;
    padding: 0;
}